body {
    min-height: 450px;
    height: 100vh;
    margin: 0;
    background: -webkit-radial-gradient(ellipse farthest-corner at center top, white 0%, white 100%);
    background: radial-gradient(ellipse farthest-corner at center top, white 0%, white 100%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
  }

  p {
    margin-left: 15px;
    margin-right: 3px;
  }

  .text-standard {
    margin-left: 15px;
  }

  .scroller {
    height: 75%;
    overflow-y: auto;
    width: 70%;
    overflow-x: hidden;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    border-radius: 100px;

  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
  }